{# {% set hostname = samples['hosts']|random %} #}
{# {% do shared.set('hostname', hostname) %}
{% set id = locals.get('id', 1) %} #}

{
    "@timestamp": "{{ timestamp }}",
    "id": 1,
    "hostname": "hostname",
    "cpu": "{{ range(0, 100)|random }}%"
}
{# 
{% do locals.set('id', id + 1) %} #}